name: Doubleways CI

on:
  push:
    branches:
      - main


env:
  SQLALCHEMY_DATABASE_URI: ${{ secrets.SQLALCHEMY_DATABASE_URI }}
  SECRET_KEY: ${{ secrets.MY_SECRET_KEY }}
  BUCKET_NAME: ${{ secrets.MY_BUCKET_NAME }}
  BUCKET_REGION: ${{ secrets.MY_BUCKET_REGION }}
  ACCESS_KEY: ${{ secrets.MY_ACCESS_KEY }}
  SECRET_ACCESS_KEY: ${{ secrets.MY_SECRET_ACCESS_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.0

      - name: Install pipenv
        run: |
            pip install pipenv

      - name: Install dependencies
        run: |
          pipenv install


  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.0

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        run: |
            pipenv install
            pipenv install --dev

      - name: Run tests
        run: pipenv run test

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: test-results

  deploy:
    name: Deploy
    needs: [test]
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.MY_RENDER_SERVICE_ID }}
          api-key: ${{ secrets.MY_RENDER_API_KEY }}
          
